@import "variables";
@import "reset";
@import "utility";
@import "mixins";

html, body
{
  background: $lighter;
  color: $darkest;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.25em;
  font-size: $base-font-size;
  height: 100vh;
  overflow: hidden;
}

::-webkit-input-placeholder {
  color: $medium;
}

:-moz-placeholder {
  color: $medium;
  opacity: 1;
}

::-moz-placeholder {
  color: $medium;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $medium;
}

::-ms-input-placeholder {
  color: $medium;
}

::placeholder {
  color: $medium;
}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: $primary-color-dark;
  font-weight: 500;
}

h1 {
  font-size: $font-size-super;
  font-weight: 400;
  margin: 1rem 0;
}

h2 {
  font-size: $font-size-largest;
  font-weight: 400;
  margin: 1rem 0;
}

h3 {
  font-size: $font-size-larger;
  color: $primary-color-dark;
  margin: 0 0 5px;
  line-height: 1.65rem;
  font-weight: 500;
}

h4 {
  font-size: $font-size-large;
  font-weight: 400;
  margin: 0.5rem 0;
}

.input, textarea, input[type=text], input[type=email], input[type=password], input[type=number], input[type=date] {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: $font-size-normal;
  width: 100%;
  display: block;
  outline: 0;
  border-radius: 4px;
  background: $input-bg;
  border: 1px solid $medium;
  padding: 1.25rem;
  color: $dark;


  &:focus {
    color: $darker;
    border-color: $orange;
  }
}

textarea {
  padding: 0.75rem;
  line-height: 1.5rem;
  min-height: 15rem
}

strong {
  font-weight: 500;
}

table {
  width: 100%;
  box-shadow: $box-shadow;

  th {
    text-align: left;
    padding: 1.25rem 1rem;
    font-weight: 500;
    background: $lightest;
    border: 1px solid $light;
    vertical-align: middle;
    color: $heading-color;

    &.actions {
      width: 120px;
    }
  }

  td {
    padding: 0.75rem 1rem;
    color: $darker;
    border: 1px solid $light;
    background: $lightest;
    vertical-align: middle;
  }
}

.pointer {
  cursor: pointer;
}

.nuxt-progress {
  background-color: $dark;
}

.fa {
  cursor: pointer;
  margin-right: 3px;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;

  &.align-items-center {
    align-items: center;
  }

  &.align-content-stretch {
    align-content: stretch;
  }
}

.flex-grow {
  flex: 1;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.btn {
  border-radius: 4px;
  font-size: $font-size-normal;
  text-align: center;
  padding: 0 1.5rem;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  font-weight: 400;
  border: 0;

  &+.btn {
    margin-left: 2rem;
  }

  @include setColorsAndHovers($dark, $lightest, $dark);

  &.ok {
    @include setColorsAndHovers($green, $lightest, $green);
  }

  &.no {
    @include setColorsAndHovers($red, $lightest, $red);
  }

  &.secondary {
    @include setColorsAndHovers($lighter, $dark, $lighter, 3%);
  }

  &.hollow {
    @include setColorsAndHovers($lightest, $dark, $lightest);
  }
}

.form-area {
  background: $lightest;
  padding: 2rem 3rem;
  max-width: 750px;
  margin: 0 auto;

  form {
    margin: 2rem 0 0;
  }

  label {
    display: block;
    margin: 0 0 1.5rem;

    > span {
      display: block;
      color: $dark;
      margin-bottom: 10px;
      font-weight: 500;
    }
  }

  .row {
    display: block;
    margin: 1rem 0;
  }

  .actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;

    > .btn {
      margin-right: 2rem;
    }
  }
}

.content {
  display: flex;
  height: 100vh;

  .main {
    flex: 1;
    order: 2;

    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100vh;

      .search {
        flex: 1;
        border-right: 1px solid $light;
        padding: 1rem 2rem;

        > form {
          color: $dark;
          display: flex;
          align-items: center;

          > .fa {
            font-size: $font-size-largest;
          }

          input[type=text] {
            flex: 1;
            border: 0;
            background: transparent;
            font-size: $font-size-largest;
            line-height: 48px;
            margin: 0 2rem 0 0.75rem;
            padding: 0;
            color: $dark;
          }
        }
      }

      .inside {
        padding: 2rem;
        background: $lighter;
        overflow-y: auto;
        flex-grow: 1;
      }
    }
  }
}

.menu {
  position: relative;
  width: 200px;
  order: 1;
  background: $darker;

  > ul {
    > li {
      text-transform: uppercase;

      &.nuxt-link-active {
        background: $darkest;
      }

      > a {
        color: $lightest;
        display: block;
        padding: 2rem 1.5rem;
      }
    }
  }
}

.toasted.primary.mylibrary {
  color: $lightest;
  box-shadow: $box-shadow;
  min-height: 54px;
  line-height: 2rem;
  padding: 0 1.5rem;
  font-weight: 400;
  @extend .radius-normal;

  &.success {
    background: $green;
  }

  &.error {
    background: $red;
  }

  &.info {
    background: $blue;
  }

  > .action {
    color: $lightest;

    &:hover {
      text-decoration: none;
    }
  }
}

.list {
  > li {
    @extend .d-flex;
    @extend .bg-lightest;
    @extend .border-light;
    @extend .mb-2;
    @extend .radius-normal;
    box-shadow: $box-shadow;
  }
}