$black: #293138;
$darkest: #31404c;
$darker: #485c6d;
$dark: #8497a9;
$medium: #c2c8ce;
$light: #d9dfe2;
$lighter: #f5f6f9;
$lightest: #fff;

$blue: #3F91EB;
$yellow: #FACE42;
$green: #68c579;
$red: #EB423F;
$orange: #F8B04B;
$orange-dark: #FA9242;

$primary-color-dark: #4e7897;
$primary-color: #76a3c7;
$primary-color-light: #8cb6d8;
$primary-color-lighter: #bddbf1;
$primary-color-lightest: #dfedf8;

$heading-color: #565c66;
$input-bg: #fbfbfb;

$base-font-size: 14px;
$font-size-smallest: 0.6rem;
$font-size-smaller: 0.7rem;
$font-size-small: 0.8rem;
$font-size-normal: $base-font-size;
$font-size-large: 1.05rem;
$font-size-larger: 1.15rem;
$font-size-largest: 1.35rem;
$font-size-super: 1.45rem;
$font-size-giant: 1.8rem;

$box-shadow: 0px 1px 5px rgba(152, 178, 226, 0.2);