$darkest: #212121;
$darker: #616161;
$dark: #757575;
$medium: #BDBDBD;
$light: #E0E0E0;
$lighter: #EEEEEE;
$lightest: #f8f8f8;
$white: #FAFAFA;

$yes: #68c579;

$primary-color-dark: #4e7897;
$primary-color: #76a3c7;
$primary-color-light: #8cb6d8;
$primary-color-lighter: #bddbf1;
$primary-color-lightest: #dfedf8;

$base-font-size: 14px;
$font-size-smallest: 0.6rem;
$font-size-smaller: 0.7rem;
$font-size-small: 0.8rem;
$font-size-normal: $base-font-size;
$font-size-large: 1.05rem;
$font-size-larger: 1.15rem;
$font-size-largest: 1.35rem;
$font-size-super: 1.45rem;
$font-size-giant: 1.8rem;